<h1>What kind of gift are you looking for?</h1>
<br>
<br>
<br>
<br>response = HTTParty.get('http://api.stackexchange.com/2.2/questions?site=stackoverflow')
<br><img src="/PoweredBy_200px-White_HorizText.png" alt="Powered by giphy";>
<form action="/gift_solutions" method="Post">
  <input type="text" name="type of gift">
  <input type="submit" name="submit">
</form>

