<h1>What kind of gift are you looking for?</h1>
<br>
<br>
<br>
<img src= "<%= @gif %>" >
<form action="/recommendations" method="Post">
  <input type="text" name="type of gift">
  <input type="submit" name="submit">
</form>

