<h1>Register as a new user</h1>

<form action='/users' method='post'>
  First name:<br>
  <input type="text" name="user[first_name]"><br>
  Last name:<br>
  <input type="text" name="user[last_name]"><br>
  username:<br>
  <input type="text" name="user[username]"><br>
  email:<br>
  <input type="email" name="user[email]"><br>
  password:<br>
  <input type="password" name="user[password]"><br>
  <input type="submit" value="Register"><br>

</form>
