<h1>Welcome to Cadeau</h1>
<p><a href='/recommendations/new'>Click here</a> to take our quiz and get gift recommendations</p>
<header class="welcome-image">
      <img src="images/gifts.png" alt="lots-of-gifts" height="=800" width = "1000">
  </header>


